[v-cloak] {
    display: none;
}
#app2 {
    width: 1280px;
    height: 1024px;
    overflow: hidden;
    background-image: url("bg.png");
}
.husen {
    margin: 1em;
    border: solid 1px black;
    background-color: #ffff81;
    position: absolute;
    font-family: "ＭＳ ゴシック",sans-serif;
}
.husen:hover{
    z-index: 10;
}

textarea {
    width: 60em;
    height: 10em;
}